# Configuration file for the online GUI 
# This file is for ADCs
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
# To switch to log scale, add the option logy after the name of 
# the histogram 

# fixed root file to look at
## can be overwritten by -r XXX option
#rootfile $ROOTFILES/prexALL_1227.root

## plot directory where print output is placed (directory has to already exist)
plotsdir ./output
## output format (pdf, gif, png). without this option we'll do pdf
plotFormat pdf

## set the color for the gui by name (like red, blue, white)
#guicolor white

# Prototype rootfilename.. overrides GetRootFileName.C
#protorootfile $ROOTFILES/hcal_354_-1.root
#rootfile /volatile/halla/sbs/seeds/rootfiles/hcal_354_-1.root
rootfile /work/halla/sbs/seeds/HCAL/hcal/outFiles/gainMatchResults_run354.root

# Defined cuts
definecut evcut EvtHdr.EvtNum>1000
definecut pulse_cut (sbs.hcal.a_p>50)

## Set default 2D number of bins
#2DbinsX 2000
#2DbinsY 2000

# Uncomment the below line to monitor the fill of a ROOTfile.
#watchfile

### column row
newpage 1 2
        ADCvChannel
	NEVvChannel

#newpage 1 2
 #       title BCM asymmetries
  #      asym_bcm_an_us
   #     asym_bcm_an_ds ErrorFlag==0
        
#newpage 1 3
#	title Use some macros
#	macro exampleMacro1.C(10)
#	macro exampleMacro2.C
